.img {
    height: 120px;
    padding-left: 30px;
    padding-right: 30px;
}

.img1 {
    height: 420px;
    width: 420px;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-color: #343a40;
    color: #ffc107;
}

nav a {
    color:#ffc107;
}

nav a:hover {
    filter: invert(100%);
    transition-duration: 1.3s;
}

table a {
    color:#ffc107;
}

table a:hover{
    filter: invert(100%);
    transition-duration: 1.3s;
}

li a {
    color:#ffc107;
}

li a:hover{
    filter: invert(100%);
    transition-duration: 1.3s;
}

html{
    scroll-behavior: smooth;
}

.iframe1 {
    width: calc(100vw/2.3);
    height: calc(100vw/16*4);
}

.btn:hover{
    background-color: invert(100%);
    transition-duration: 1.3s;
}