.img {
    height: 120px;
    padding-left: 30px;
    padding-right: 30px;
}

.img1 {
    height: 420px;
    width: 420px;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-color: #343a40;
    color: #ffc107;
}

nav a {
    color:#ffc107;
}

nav a:hover {
    filter: invert(100%);
    transition-duration: 1.3s;
}

table a {
    color:#ffc107;
}

table a:hover{
    filter: invert(100%);
    transition-duration: 1.3s;
    text-decoration: none;
}

li a {
    color:#ffc107;
    text-decoration: none;
}

li a:hover{
    filter: invert(100%);
    transition-duration: 1.3s;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.fmarg {
    margin-top: 100px;
    padding: 100px;
}

.nagyobb {
    font-size: x-large;
}

.kozepre {
    margin:auto;
    width: 100%;
}

p a {
    color:rgb(255, 255, 94);
    text-decoration: none;
}

p a:hover{
    filter: invert(100%);
    transition-duration: 1.3s;
    text-decoration: none;
}